<div class="index">
  <div class="index-container">

    <div class="phrase-container">
      <div class="phrase">
        Let's make effective use<br/>of metaverse lands!
      </div>
    </div>

    <div class="maps">
      <div class="index-explain">Click on the map you are interested in.</div>

      <div class="maps-container">
        <div class="slider">
          <div class="index-map">
            <li class="map-name"><%= link_to 'Decentraland', platforms_decentraland_path %></li>
            <%= link_to platforms_decentraland_path do %>
              <%= image_tag 'decentraland_map2.png', size: '450x450' %>
            <% end %>
          </div>

          <div class="index-map">
            <li class="map-name"><%= link_to 'The Sandbox', platforms_thesandbox_path %></li>
            <%= link_to platforms_thesandbox_path do %>
              <%= image_tag 'thesandbox_map2.png', size: '450x450' %>
            <% end %>
          </div>

          <div class="index-map">
            <li class="map-name"><%= link_to 'Cryptovoxels', platforms_cryptovoxels_path %></li>
            <%= link_to platforms_cryptovoxels_path do %>
              <%= image_tag 'cryptovoxels_map2.png', size: '450x450' %>
            <% end %>
          </div>

          <div class="index-map">
            <li class="map-name"><%= link_to 'Somnium Space', platforms_somniumspace_path %></li>
            <%= link_to platforms_somniumspace_path do %>
              <%= image_tag 'somniumspace_map2.png', size: '450x450' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>